{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'levantamiento_index' %}">Levantamientos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Contratos General</li>
    </ol>
</nav>
<h1 class="display-6">Lista de contratos General</h1>
{% include 'messages.html' %}
<!-- Filtro -->
<div class="row mb-12">
    <div class="col-md-2">
        <a href="{% url 'contrato_insert_levantamiento' %}" class="btn btn-outline-success">
            Añadir Contrato
        </a>
    </div>
</div>
<br>
<div class='row mb-12'>
    <div class='col-md-12'>
        <form class="d-flex" method=GET action="">
            {% csrf_token %}
            {{filter.form}}
            <button type="submit" class="btn btn-info">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>
<table class="table ">
    <thead class = "thead-light">
        <tr>
            <th>Código Cliente</th>
            <th>Cliente</th>
            <th>Nº Testimonio</th>
            <th>Ubicación</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for contrato in contratos_list|slice:"100" %}
        <tr>
            <td>{{contrato.desembolso.codigo_cliente}}</td>
            <td>{{contrato.desembolso.cliente}}</td>
            <td>{{contrato.num_testimonio}}</td>
            <td>{{contrato.ubicacion}}</td>
            <td>{{contrato.estado}}</td>
            <td>
                <a href="{% url 'contrato_update_levantamiento' contrato.id %}" class="btn btn-outline-secondary">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="{% url 'contrato_delete_levantamiento' contrato.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-can"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}