{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Tareas</li>
    </ol>
</nav>
<h1 class="display-6">Lista de Tareas</h1>
{% include 'messages.html' %}
{% if añade_tarea %}
    <div class='row mb-12'>
        <div class='col-md-12'>
            <a href="{% url 'tarea_insert' %}" class="btn btn-outline-success">
                Crear Tarea
            </a>
        </div>
    </div>
    <br>
{% endif %}
<div class='row mb-12'>
    <div class='col-md-12'>
        <form class="d-flex" method="get" action="">
            {{filter.form}}
            <button type="submit" class="btn btn-info">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Categoría</th>
            <th>Tiempo</th>
            <th>Descripción</th>
            <th>Analista Asignado</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tarea_list|slice:"100" %}
        <tr>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.tiempo}}</td>
            <td>{{tarea.descripcion}}</td>
            <td>{{tarea.analista_asignado}}</td>
            <td>{{tarea.estado}}</td>
            <td>
                <a href="{% url 'tarea_update' tarea.id %}" class="btn btn-outline-secondary">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="{% url 'tarea_delete' tarea.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-can"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}