{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if tipo_id == 0 %}
<h1 class="display-6">Crear Tipo de Operación</h1>
{% else %}
<h1 class="display-6">Editar Tipo de Operación</h1>
{% endif %}

<form action="" method='post' autocomplete='off'>
    {% csrf_token %}
    <div class='row mb-12'>
        <div class='col-md-2'>
            {{form.nombre|as_crispy_field}}
        </div> 
    </div>
    <div class='row mb-12'>
        <div class='col-md-2'>
            {{form.tiempo|as_crispy_field}}
        </div>
    </div>
    <div class="row mb-12">
        <div class="col-md-1">
            <button type="submit" class="btn btn-outline-success">Registrar</button>
        </div>
        <div class="col-md-2">
            <a href="{% url 'tiempos_operaciones' %}" class="btn btn-outline-secondary">
                Retornar a lista
            </a>
        </div>
    </div>
</form>

{% endblock content %}